{% extends 'base.html' %}

{% block title %}Blog Post List{% endblock %}

{% block content %}
    <h1>{{ site_name }}</h1>
    <form action="{% url 'post-list' %}" method="GET">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>
    <ul>
        {% for post in post_list %}
        <li>
        <a href="{{ post.get_detail_url }}">
                <h2>{{ post.title }}</h2>
            </a>
            <p>{{ post.content }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
