{% extends 'base.html' %}

{% block title %}Blog Post List{% endblock %}

{% block content %}
    <h1>{{ site_name }}</h1>
    <form action="{% url 'posts:list' %}" method="GET">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>
    <a href="{% url 'posts:new' %}">New Post</a>


    <ul>
        {% for post in post_list %}
        <li>
        <a href="{{ post.get_absolute_url }}">
            <h2>{{ post.title }} <span>({{ post.comment_set.count }})</span></h2>
            </a>
            <p>{{ post.content }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
