header {
    background-color: green;
}

footer {
    background-color: yellow;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
